* {
    margin: 0;
    padding: 0;
}

/* header section */
/* navbar section */

header {
    background-image: url('Assets/Hero-bg.png');
    background-repeat: no-repeat;
    max-width: 100%;
    height: 698px;
    margin-bottom: 65px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
    align-items: center;
}

.navbar h1 {
    font-size: 34px;
    color: #4E47FF;
    font-family: inter;
    font-weight: 900;
}

.navbar button {
    padding: 14px 36px;
    border-radius: 10px;
    color: white;
    background-color: #4E47FF;
    border: none;
    font-family: raleway;
    font-weight: bold;
}

/* banner section  */
.banner {
    text-align: center;
    /* padding-top: 15%; */
    max-width: 905px;
    height: 237px;
    margin: 0 auto;
    margin-top: 10%;

}

.banner h1 {
    font-size: 60px;
    color: #252432;
    font-family: raleway;
    margin-bottom: 37px;


}

.banner button {
    padding: 14px 36px;
    border-radius: 10px;
    color: white;
    background-color: #4E47FF;
    border: none;
    font-family: raleway;
    font-weight: bold;
    text-align: center;
}

/* //////action section  */

.action {
    display: flex;
    margin: auto 140px;
    gap: 73px;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    height: 328px;
    margin-bottom: 90px;
}

.item-text {
    width: 500px;
}

.item-text h1 {
    font-size: 42px;
    font-weight: bold;
    font-family: raleway;
    color: #252432;
    margin-bottom: 23px;
}

.item-text p {
    color: #25243275;
    font-size: 22px;
    font-family: railway;
    margin-bottom: 23px;

}

.item-text button {
    padding: 14px 36px;
    border-radius: 10px;
    color: white;
    background-color: #4E47FF;
    border: none;
    font-family: raleway;
    font-weight: bold;
    text-align: center;
}

.item-img img {
    border-radius: 50px;
    width: 100%;
}

/* productive-user section  */

.productive-user {
    max-width: 1140px;
    height: 305px;
    background-color: #4d47ff1e;
    margin: 0 140px;
    margin-bottom: 120px;
    border-radius: 20px;
}



.productive-user .mainheading {
    text-align: center;
    font-size: 34px;
    font-weight: bold;
    font-family: raleway;
    padding: 50px 120px 40px 120px;
    color: #252432;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container h1 {
    font-size: 70px;
    color: #4E47FF;
    font-family: inter;
}
.container p{
    text-align: center;
    color: #00000071;
}